<?xml version="1.0" encoding="utf-8" ?>
<settings>
  <!--应用程序和配置属性设置-->
  <add key="provider" value="MySql"/>
  <add key="host" value="localhost"/>
  <add key="username" value="root"/>
  <add key="password" value="maria"/>
  <add key="database" value="test"/>
  <add key="port" value="3306"/>
  <add key="charset" value="utf8"/>
  <add key="allow_zero_datetime" value="true"/> 
  <add key="directory" value="IBatisConfig/SqlMapXml/"/>
</settings>