<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig 
  xmlns="http://ibatis.apache.org/dataMapper" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!--配置一些常量属性，如下面的<settings>,如果这些属性有很多的话可以单独写一个文件里面 -->
  <properties embedded="IBatisConfig.properties.config,DataAccess"/>
  
  <settings>
    <!--是否使用语句命名空间，这里的命名空间指的是映射文件中sqlMap节点的namespace属性-->
    <setting useStatementNamespaces="false"/>
    <!--是否启用iBatis的缓存机制，默认true-->
    <setting cacheModelsEnabled="true"/>
    <!--是否启用SqlMapConfig.xsd schema验证映射文件，默认是"false"-->
    <setting validateSqlMap="false"/>
  </settings>
  
  <!--配置数据驱动提供类配置文件的路径和文件名-->
  <providers embedded="IBatisConfig.providers.config,DataAccess"/>
  

  <!-- 数据库连接配置信息 -->
	<database>
		<provider name="${provider}"/>
		<dataSource name="IBatisNet" connectionString="Host=${host};
                UserName=${username};Password=${password};Database=${database};Port=${port};CharSet=${charset};Allow Zero Datetime=${allow_zero_datetime}"/>
	</database>

  <!--XML文件映射配置信息-->
	<sqlMaps>
    <!-- 从程序集中 -->
    <sqlMap embedded="SqlMapXml.PreWin.xml,DataAccess" />
    <!---->
    <sqlMap embedded="SqlMapXml.MainWin.xml,DataAccess" />
    <sqlMap embedded="SqlMapXml.Manage.xml,DataAccess" />
    <!-- 从文件中
    <sqlMap resource="IBatisConfig/SqlMapXml/PreWin.xml" />-->
		<!--<sqlMap resource="SqlMapXml/Blog.xml" />
	  <sqlMap resource="SqlMapXml/Author.xml" />-->
	</sqlMaps>
</sqlMapConfig>