<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="modules" type="Microsoft.Practices.Prism.Modularity.ModulesConfigurationSection, Microsoft.Practices.Prism"/>
  </configSections>
  <modules> 
    <module assemblyFile=".\Games\doudizhu.dll" moduleType="doudizhu.ModuleDefinition.doudizhu, doudizhu.ModuleDefinition.doudizhu, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="doudizhu" startupLoaded="false" />
    <module assemblyFile=".\Games\huanledoudizhu.dll" moduleType="huanledoudizhu.ModuleDefinition.huanledoudizhu, huanledoudizhu.ModuleDefinition.huanledoudizhu, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="huanledoudizhu" startupLoaded="false" />
    <module assemblyFile=".\Games\nihuawocai.dll" moduleType="nihuawocai.ModuleDefinition.nihuawocai, nihuawocai.ModuleDefinition.nihuawocai, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="nihuawocai" startupLoaded="false" />
    <module assemblyFile=".\Games\duiduipeng.dll" moduleType="duiduipeng.ModuleDefinition.duiduipeng, DuiDuiPeng.ModuleDefinition.duiduipeng, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="duiduipeng" startupLoaded="false" /> 
  </modules>
</configuration>
